# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
*.iml
out
gen
.idea
freezer-back/target/
#freezer-front/freezer-front-admin/node_modules/
#freezer-front/freezer-front-user/node_modules/
